/* Import from Google Fonts "nunito" select light 300, regular 400 and semi-bold 600" */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,600;1,600&family=Sofia&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    font-family:'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none ;
    text-transform: Capitalize;
    transition: all .2s linear;
}
:root{
    --green:#27ae60;
    --blue:#0a2df3;
    --orange:#e96711;
}
html {
    font-size: 65.2%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .7rem;
}
html::-webkit-scrollbar-track {
    background: #ffffff;
}
html::-webkit-scrollbar-thumb{
    background: ;
}
body{
    background: #eee;
    padding-right: 5rem;
}
header{
    position:fixed;
    top: 0;
    right: 0;
    min-height: 100vh;/*viewport height*/
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    z-index: 1000;
}
header .navbar{
    writing-mode: vertical-lr;
    padding: 1.5rem;
}
header .navbar a{
    padding: 1.5rem;
    font-size: 2rem;
    color: #222;
}
header .navbar a:hover{
    color:var(--green);
}

section{
    padding: 2rem 9%;
}
.home{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home .content{
    text-align: center;
    position:relative;
    z-index: 1; 
}
.home .content img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border:1rem solid var(--orange);
}

#menu-bars{
    position: fixed;
    z-index: 2000;
    top: 1rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    border-radius:.5rem;
    color:#fff;
    background: var(--orange);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}


/*media queries*/
@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }

    header{
        width:100%;
        left: -120%;
    }

    header.active{
        left:0%;

    }

    #menu-bars{
        display: initial;
    }
    header .navbar {
    writing-mode: horizontal-tb;
    }
    header .navbar a{
        display: block;
        font-size: 2rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}
